
body{
    background-color: rgb(60, 77, 33);
}

.carousel-item img {
    width: 100%;
    height: max-content;
    object-fit: cover
}

.carousel-caption {
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translate (-50%, -50%);
    text-align: center;
    color:  white;
}



p{
    font-size: larger;
    font-style: italic;
}

.aboutme{
    font-size: x-large;
}

h{
    font-size: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section{
    position: absolute;
    background-color: rgb(67, 83, 56);
    border-color: black;
    left: 900px;
    width: 400px;
}
.test{
    left: 150px;
    width: 600px;
    height: auto;
    bottom: 40%;
}

.cat{
    width: 400px;
    height: auto;
    display: block;
    margin: 8px auto;
}

/* Contacts Section */
.contactform{
    position: relative;
    left: 20%;

    border: solid;
    border: white;
    background-image: url(../../view/pictures/olivetest.jpg);
    width: 600px;

}

.maploc {
    position: relative;
    left: 20%;
}


.center-heading{
    display: flex-start;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* End of Contact Section */

/* EDUCATION SECTION */

.moveColumn{
    padding-left: 150px;
}

.imageMove{
    padding-right: 150px;
    width: 550px;
    height: auto;
}

/* projects section */
.content-container {
    margin-top: 200px; 
    padding-left: 20px; 
}

.content-container ul {
    margin-top: 20px; 
}
